*.iml
.gradle
/local.properties
/.idea/caches
/.idea/*
/.idea/libraries
/.idea/modules.xml
/.idea/gardle.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
